@media (max-width: 1300px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 280px) and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
